body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.users-list {
    background-color: cadetblue;
}

.user-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 1px;
    padding: 1px 5px
}

    .user-box:hover {
        cursor: pointer;
    }

    .user-box i {
        color: lawngreen;
        margin: 10px
    }

.chat-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.chat-box {
    width: 250px;
    min-width: 250px;
    border: 1px solid;
    margin: 15px;
}

.chat-box-header {
    display: flex;
    justify-content: space-between;
    background-color: deepskyblue;
    padding: 5px 15px;
}

.fa-times:hover {
    cursor: pointer;
    font-size: 18px;
}

.messages-list {
    padding: 25px;
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

.dvmsg {
    padding: 1.5px;
}

.dvmsg-from {
    display: flex;
    justify-content: flex-start;
}

    .dvmsg-from .msg {
        background-color: cornflowerblue;
        color: white;
    }

.dvmsg-to {
    display: flex;
    justify-content: flex-end;
}

    .dvmsg-to .msg {
        background-color: orange;
        color: black;
    }

.msg {
    padding: 8px;
    width: auto;
    border-radius: 20px;
}

.chat-box-input {
    padding: 15px;
}

.message-input {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}