@model app_chat_realtime_db.Models.ChatBoxModel

<div class="chat-box" id="DVChatBox-@Model.ToUser.UserId">
    <div class="row">
        <div class="col-xs-12">
            <div class="chat-box-header">
                <b>@Model.ToUser.Username</b>
                <b><i class="fa fa-times" aria-hidden="true" onclick="CloseChatBox(this)"></i></b>
                @Html.HiddenFor(x => x.ToUser.UserId, new { @id = "ToUserId" })
            </div>
        </div>
        <div class="col-xs-12">
            <div class="messages-list">
                @foreach (var message in Model.Messages)
                {
                    <div class="dvmsg dvmsg-from-@message.Class"><span class="msg">@message.Message</span></div>
                }
            </div>
        </div>
        <div class="col-xs-12 chat-box-input">
            <textarea class="message-input form-control" onkeyup="sendMessage(this, event);"></textarea>
        </div>
    </div>
</div>

<script>
    function CloseChatBox(element) {
        $(element).closest('.chat-box').remove();
    }

    function sendMessage(element, e) {
        let message = $(element).val().trim();
        if (!message) {
            $(element).val('');
            return;
        }
        let toUserId = $(element).closest('.chat-box').find('#ToUserId').val();
        if (e.which === 13) {
            $.ajax({
                url: '/Home/SendMessage',
                type: 'POST',
                contentType: 'application/json;charset=uft-8',
                data: JSON.stringify({ toUserId: toUserId, message: message }),
                async: true,
                success: function (res) {
                    if (res === true) {
                        $(element).closest('#DVChatBox-' + toUserId).find('.messages-list').append('<div class="dvmsg dvmsg-from"><span class="msg">' + message + '</span></div>');
                        $(element).closest('#DVChatBox-' + toUserId).find('.messages-list').scrollTop(9999999999999999);
                        $(element).val('');
                    }
                }
            })
        }
    }
</script>