@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-10">
        <div class="chat-container">
            Chat boxes
        </div>
    </div>
    <div class="col-xs-2">
        <div class="users-list">
            Users List
        </div>
    </div>
</div>

<script>
    $(function () {
        var hub = $.connection.chatHub;

        hub.client.broadcastUserToChat = function (users) {
            $('.users-list').html('')
            for (var i = 0; i < users.length; i++) {
                let online = users[i].IsOnline ? '<i class="fa fa-circle"></i>' : "";
                $('.users-list').append('<div id="UserBox-' + users[i].UserId + '"class="user-box" onclick="openChatBox(' + users[i].UserId + ')">\
                    <h5>'+ users[i].Fullname + '</h5>\
                    <span class="is-online">'+ online + '</span>\
                    </div>');
            }
        }

        hub.client.broadcastOnlineUser = function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('<i class="fa fa-circle"></i>');
        }

        hub.client.broadcastOfflineUser = function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('');
        }

        hub.connection.start().done(function () {
            hub.server.getUserToChat();
        })

        hub.client.broadcastRecieveMessage = function (userId, message) {
            if ($('#DVChatBox-' + userId).length === 0) {
                openChatBox(userId);
            } else {
                $('#DVChatBox-' + userId).find('.messages-list').append('<div class="dvmsg dvmsg-to"><span class="msg">' + message + '</span></div>');
            }
        }
    })

    function openChatBox(toUserId) {
        $.ajax({
            url: '/Home/GetChatbox',
            type: 'POST',
            datatype: 'JSON',
            contentType: 'application/json;charset=utf-8;',
            data: JSON.stringify({ toUserId: toUserId }),
            async: true,
            success: function (res) {
                if ($('#DVChatBox-' + toUserId).length === 0) {
                    $('.chat-container').append(res);
                } else {
                    $('.chat-container').find('#DVChatBox-' + toUserId).replaceWith(res);
                }
                $('#DVChatBox-' + toUserId).find('.messages-list').scrollTop(9999999999999999);
            }
        })
    }
</script>